.thumbnail {
    max-widh: 100px;
    max-height: 100px;
}

.flash {
    background-color: lightcoral;
    padding: 1em;
}

.game {
    background-color: #abcafc;
}

.image_upload_for_game {
    border: 1px solid #999;
}

.advert-time{
     font-size: small;
}
