<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thmyeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
</head>
<body>

<nav th:fragment="user_info" class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">In Game Ads</a>
        <ul class="right hide-on-med-and-down">
            <li><a th:href="@{/games}">Wynajmij reklamę</a></li>
            <li><a th:href="@{/offers}">Panel ofert</a></li>
            <li><a th:href="@{/mygames}">Moje gry</a></li>
            <li><a sec:authorize-expr="!isFullyAuthenticated()" th:href="@{/login}">Zaloguj się</a></li>
            <li><a sec:authorize-expr="isFullyAuthenticated()" th:href="@{/logout}">Wyloguj się</a></li>
            <li sec:authorize-expr="isFullyAuthenticated()" class="black-text " sec:authentication="name"/></li>

        </ul>

    </div>

</nav>
</body>
</html>