<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thmyeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:insert="fragments/header :: header"></head>
<body>

<div th:insert="fragments/user_info :: user_info">...</div>
<h3 th:if="${#vars['flash.message']}" th:text="${#vars['flash.message']}" class="flash"></h3>

<div class="container">
    <div class="row">
        <div class="col s8">
            <h1 th:text="${game.title}"/>

            <p class="flow-text" th:text="${game.description}"/>

            <blockquote>
                <p>Cena za jeden dzień: $<span id="price" th:text="${game.pricePerDay}"/></p>
                <p>Właściciel gry: <span th:text="${game.owner.username}"/></p>
            </blockquote>
        </div>
        <div class="col s4">
            <br/><br/><br/><br/><br/><br/>
            <ul class="carousel carousel-slider">
                <li class="carousel-item" th:each="gameImage : ${game.images}">
                    <img th:src="@{'/images/' + ${gameImage.name} + '/raw'}"/>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col s4" id="buy-panel">
            <h3>Kup reklamę</h3>
            <form id="offer-form" method="post" enctype="multipart/form-data"
                  th:action="@{'/games/' + ${game.id} + '/submitAdvertOffer'}">
                <!--<p>Grafika reklamy <input type="file" name="file"/></p>-->
                <div class="file-field input-field">
                    <div class="btn">
                        <span>Grafika reklamy</span>
                        <input type="file" name="file">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                </div>
                <p>Rozpoczęcie kampanii reklamowej <input id="start_date" type="text" class="datepicker" name="startDate"/></p>
                <p>Zakończenie kampanii reklamowej <input id="end_date" type="text" class="datepicker" name="endDate"/></p>
                <p>Koszt: $<span id="cost"></span></p>
                <input type="submit" value="Złóż ofertę">
            </form>
        </div>
        <div class="col s2"></div>
        <div class="col s6" id="adverts-panel">
            <h4>Reklamy wykupione w tej grze</h4>
            <table id="adverts-table">
                <tbody>
                <tr>
                    <th>Grafika reklamy</th>
                    <th>Data rozpoczęcia kampanii</th>
                    <th>Data zakończenia</th>
                </tr>
                <tr th:each="advert : ${adverts}">
                    <td><img class="thumbnail" th:src="${advert.imageURL}"/></td>
                    <td class="date" th:text="${advert.startDate}"></td>
                    <td class="date" th:text="${advert.endDate}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>


<script>
$(document).ready(function(){
    $('.carousel').carousel();

    var todayDate = new Date();
    $('.datepicker').datepicker({
        format: 'yyyy-mm-dd',
        autoClose: true,
        firstDay: 1,
        minDate: todayDate
    });

    var pricePerDay = $('#price').text();
    var cost = $('#cost');


    $('.datepicker').change(function(){
        var startDate = new Date(document.getElementById('start_date').value);
        var endDate = new Date(document.getElementById('end_date').value);
        var oneDay = 24*60*60*1000; // h*m*s*ms
        var diffDays = Math.round(Math.abs((startDate.getTime() - endDate.getTime())/(oneDay)));
        console.log(diffDays);
        var newCost = pricePerDay * diffDays;
        if(! isNaN(newCost))
            cost.text(newCost);
    });

    $('#offer-form').validate({
    rules: {
        startDate: {
            required: true,
        },
        endDate: {
            required: true,
        },
        file: {
            required: true,
        },
    },
    });

});
</script>
</body>
</html>