<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thmyeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:insert="fragments/header :: header"></head>
<body>

<div th:insert="fragments/user_info :: user_info">...</div>

<div class="container">
    <h1>Dostępne gry</h1>
    <p class="flow-text">To jest katalog gier w których możesz wynająć miejsce reklamowe.</p>
</div>
<div class="row">
    <div class="col s6 offset-s3">
        <ul>
            <li th:each="game : ${page.content}">
                <div class="card">
                    <div class="card-image">
                        <img th:if="${not #lists.isEmpty(game.images)}"
                             th:src="${game.images[0].url}"/>
                        <span class="card-title" th:href="@{'/games/' + ${game.id}}" th:text="${game.title}"/>
                    </div>
                    <div class="card-content">
                        <p th:text="${game.description}"/>
                    </div>
                    <div class="card-action">
                        <a th:href="@{'/games/' + ${game.id}}">Zobacz więcej</a>
                    </div>
                </div>

            </li>
        </ul>
        <ul>
            <li th:if="${prev}"><a th:href="@{/(size=${prev.pageSize}, page=${prev.pageNumber})}">Previous</a></li>
            <li th:if="${next}"><a th:href="@{/(size=${next.pageSize}, page=${next.pageNumber})}">Next</a></li>
        </ul>
        <p th:text="${page.number + 1} + ' of ' + ${page.totalPages}"/>
        <p th:text="${page.size} + ' item(s) per page'"/>
    </div>

</div>
</body>
</html>