<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thmyeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:insert="fragments/header :: header"></head>
<body>

<div th:insert="fragments/user_info :: user_info">...</div>

<h1>Images uploaded by you</h1>

<h3 th:if="${#vars['flash.message']}" th:text="${#vars['flash.message']}" class="flash"></h3>

<div>
    <table>
        <tbody>
        <tr th:each="image : ${currentUserImages}">
            <td th:text="${image.name}"/>
            <td><a th:href="${image.url}"><img class="thumbnail" th:src="${image.url}""/></a></td>
            <td>
                <form sec:authorize-expr="isFullyAuthenticated()" th:method="delete" th:action="@{'images/' + ${image.name}}">
                    <input type="submit" value="Delete"/>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <h1>Want to upload more?</h1>

    <form sec:authorize-url="POST /images" method="post" enctype="multipart/form-data" th:action="@{/images}">
        <p><input type="file" name="file"/></p>
        <p><input type="submit" value="Upload"/></p>
    </form>
</div>
</body>
</html>