<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thmyeleaf.org">
<head th:insert="fragments/header :: header"></head>

<body>
<div th:insert="fragments/user_info :: user_info">...</div>

<div class="container">
    <h1 class="header center orange-text">In Game Ads</h1>
    <div class="row center">
        <h5 class="header col s12 light">Wynajmij powierzchnię reklamową wewnątrz świata gry.</h5>
    </div>

    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
                    <h5 class="center">Reklamodawco!</h5>

                    <p class="light">Wynajmij powierzchnię reklamową w popularnych grach, niech miliony graczy zobaczy Twoją reklamę!</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
                    <h5 class="center">Game Developerze!</h5>

                    <p class="light">Udostępnij miejsce w swojej grze i zarabiaj!</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
                    <h5 class="center">Wystarczy chwila!</h5>

                    <p class="light">Wystarczy kilka minut żeby Twoja reklama znalazła się na ekranach milionów graczy.</p>
                </div>
            </div>
        </div>

    </div>
    <br><br>
</div>

<center>
    <a class="waves-effect waves-light btn-large pulse" href="/games">Zobacz dostępne gry</a>
</center>

</body>
</html>