<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thmyeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:insert="fragments/header :: header"></head>
<div th:insert="fragments/user_info :: user_info"></div>

<h1 class="header center">Moje gry</h1>

<body>
<h3 th:if="${#vars['flash.message']}" th:text="${#vars['flash.message']}" class="flash"></h3>

<div class="container">
    <div>
        <h3>Dodaj nową grę</h3>
        <form method="post" enctype="multipart/form-data"
              th:action="@{/games/add}">
            <p>ID gry (np. com.example.mygame) <input type="text" name="id"/></p>
            <p>Tytuł gry <input type="text" name="title"/></p>
            <p>Opis gry</p> <textarea type="text" name="description"></textarea>
            <p>Cena za jeden dzień reklamy: $<input type="number" min="1" max="10000" name="pricePerDay"/></p>
            <div class="file-field input-field">
                <div class="btn">
                    <span>Grafika gry</span>
                    <input type="file" name="file">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
            </div>
            <button class="waves-effect waves-light btn" type="submit">Dodaj grę</button>
        </form>
    </div>

    <br/><br/><br/>
    <h3>Lista Twoich gier</h3>
    <ul>
        <li th:each="game : ${mygames}">
            <div class="card">
                <div class="card-content">
                    <h3><a th:href="@{'/mygames/' + ${game.id}}" th:text="${game.title}"/></h3>
                    <p th:text="${game.description}"/>
                    <span th:if="${#lists.isEmpty(game.images)}">No images for this game uploaded</span>
                    <center>
                        <img class="thumbnail z-depth-3" th:src="${game.images[0].url}"/>
                    </center>
                </div>
            </div>
        </li>
    </ul>
</div>

</body>
</html>